<!DOCTYPE html>
<html>
 <head> 
  <meta charset="utf-8" /> 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" /> 
  <title>用户端页</title> 
  <link rel="stylesheet" href="../../public/layui/css/layui.css" /> 
  <link rel="stylesheet" href="../../static/css/firstPage.css" /> 
 </head> 
 <body class="layui-layout-body"> 
  <div class="layui-layout layui-layout-admin"> 
   <div class="layui-header"> 
    <div class="layui-logo">
     飞机订票系统
    </div> 
    <!-- 头部区域（可配合layui已有的水平导航） --> 
    <ul class="layui-nav layui-layout-right"> 
     <li class="layui-nav-item"> <a href="javascript:;"> <img src="http://t.cn/RCzsdCq" class="layui-nav-img " /> <span class="userName"></span> </a> 
      <dl class="layui-nav-child"> 
       <dd>
        <a href="javascript:;" id="updataPwd" data-url="changePwd.html">修改密码</a>
       </dd> 
       <dd>
        <a href="javascript:;" id="layOut">退出系统</a>
       </dd> 
      </dl> </li> 
    </ul> 
   </div> 
   <div class="layui-side layui-bg-black"> 
    <div class="layui-side-scroll" id="mainItem"> 
     <!-- 左侧导航区域（可配合layui已有的垂直导航） --> 
     <ul class="layui-nav layui-nav-tree" lay-filter="test"> 
      <li class="layui-nav-item layui-nav-itemed"> <a class="" href="javascript:;" data-url="index.html">首页</a> </li> 
      <!-- <li class="layui-nav-item"> <a href="javascript:;">解决方案</a> 
       <dl class="layui-nav-child"> 
        <dd>
         <a href="javascript:;" data-url="dingdan.html">列表一</a>
        </dd> 
        <dd>
         <a href="javascript:;" data-url="dingdan.html">列表二</a>
        </dd> 
        <dd>
         <a href="javascript:;" data-url="dingdan.html">超链接</a>
        </dd> 
       </dl> 
      </li>  -->
      <li class="layui-nav-item"><a href="javascript:;" data-url="dingdan.html">订单信息</a></li> 
      <li class="layui-nav-item"> <a href="javascript:;">航班管理</a> 
      <dl class="layui-nav-child"> 
       <dd>
        <a href="javascript:;" data-url="hangban_manage.html">航班列表</a>
       </dd> 
       <dd>
        <a href="javascript:;" data-url="add_hangban.html">添加航班</a>
       </dd> 
       <dd>
        <a href="javascript:;" data-url="add_hangban.html">查询航班</a>
       </dd> 
       <dd>
        <a href="javascript:;" data-url="dingdan_list.html">订单列表</a>
       </dd>
      </dl> 
     </li>
      <li class="layui-nav-item"> <a href="javascript:;">公告管理</a> 
      <dl class="layui-nav-child"> 
       <dd>
        <a href="javascript:;" data-url="gonggao_manage.html">公告列表</a>
       </dd> 
       <dd>
        <a href="javascript:;" data-url="add_gonggao.html">添加公告</a>
       </dd> 
      </dl> 
     </li>  
     <li class="layui-nav-item"> <a href="javascript:;">用户管理</a> 
      <dl class="layui-nav-child"> 
       <dd>
        <a href="javascript:;" data-url="user_manage.html">用户列表</a>
       </dd> 
       <dd>
        <a href="javascript:;" data-url="add_user.html">添加用户</a>
       </dd> 
      </dl> 
     </li>
      <li class="layui-nav-item"><a href="javascript:;" data-url="personal.html">个人信息</a></li> 
     </ul> 
    </div> 
   </div> 
   <div class="layui-body"> 
    <!-- 内容主体区域 --> 
    <iframe id="right" target="right" name="right" src="planeTicket.html" frameborder="0" scrolling="auto" allowtransparency="true" class="index-body-iframe"></iframe> 
    <div class="layui-footer" style="text-align: center;"> 
     <!-- 底部固定区域 --> © 2019 飞机订票系统 
    </div> 
   </div>  
   <script src="../../public/layui/layui.js"></script> 
   <script src="../../static/js/firstPage.js"></script> 
  </div>
 </body>
</html>