<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>帮助中心</title>
	<link rel="stylesheet" href="../../public/layui/css/layui.css"/>
	<style>
		*{
			margin: 0;
			padding: 0;
		}
		.main-body{
			width: 96%;
			margin: 10px auto;
		}
		
	</style>
</head>
<body>
	<div class="main-body">
		<span class="" >帮助中心</span>
	</div>
</body>
<script src="../../public/jquery/jquery_v3.3.1.js"></script>
<script src="../../public/layui/layui.js"></script>

<script>
	$(function(){
		layui.use(['form','laytpl'],function(){
			var form = layui.form,
				laytpl = layui.laytpl;
			

		})
	})
</script>
</html>