<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>我的资料</title>
	<Link rel="stylesheet" href="../../static/css/information.css">
</head>
<body>
<div class="main-style">
	<table border="1">
	  <tr>
		<th class="stylename" colspan="2">我的资料</th>
	  </tr>
	  <tr>
	    <td class="stylename">姓名</td>
	    <td class="stylevalue name">name</td>
	  </tr>
	  <tr>
	    <td class="stylename">账号</td>
	    <td class="stylevalue username">username</td>
	  </tr>
	  <tr>
	    <td class="stylename">身份证号</td>
	    <td class="stylevalue idcard">idcard</td>
	  </tr>
	  <tr>
	    <td class="stylename">电话</td>
	    <td class="stylevalue tel">tel</td>
	  </tr>
	  <tr>
	    <td class="stylename">性别</td>
	    <td class="stylevalue sex">sex</td>
	  </tr>
	  <tr>
	    <td class="stylename">积分</td>
	    <td class="stylevalue jf">jf</td>
	  </tr>
	    <tr>
	    <td class="stylename">退票数</td>
	    <td class="stylevalue tp">tp</td>
	  </tr>
	    <tr>
	    <td class="stylename">登录次数</td>
	    <td class="stylevalue logintimes">logintimes</td>
	  </tr>
	     <tr>
	    <td class="stylename">详细地址</td>
	    <td class="stylevalue address">address</td>
	  </tr>
	</table>
 </div>  
</body>
<script type="text/javascript" src="../../public/jquery/jquery_v3.3.1.js"></script>
<script type="text/javascript" src="../../static/js/information.js"></script>
</html>